.post-section{

  color: white;
    padding: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    width:100% ;



}

.cards-section{


width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.card{
    background-color: white;
    color: black;
   
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.card h3{
    font-size: 24px;
}

.card p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.rate{
display: flex;
justify-content: space-between;
flex-direction:column;
width: 100%;
padding: 20px;


}

.rate span{

    padding-top: 10px;

}
.wave {
width: 100%;
  transform: translateY(50px); /* start from bottom */
  animation: waveUp 0.5s ease forwards;



}
/* Main container for the chart */
.chart-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;


}
.section-1{

        flex: 2;     
}

.sales-section{
      flex: 1; 
background-color: white;
color: black;
display: flex;
flex-direction: column;
justify-content: space-between;

border-radius: 10px;
}
/*sales-box*/
.sales-box{
   display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
width: 100%;


}

.sales{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction:row;
width: 100%;
gap: 20px;

}
.sales-rate{
display: flex;
align-items: center;
justify-content: space-between;
width: 50%;
padding: 20px;



}

.sales-img{
display: flex;
align-items: center;
justify-content: space-between;
width: 50%;
padding: 7px;
}

.sales-img img{
width: 80px;
height: 80px;
padding: 10px;
border-radius: 20px;


}

.sales-content{

    text-align: right;
}

.latest-section{
 width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;

}
.latest-cointainer{
background-color: white;
color: black;
display: flex;
flex-direction: column;
justify-content: space-between;

border-radius: 10px;
width: 65%;

}

.details{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  border-bottom: 1px solid #d7d7d769
}

.item{
 display: flex;
    align-items: end;
    justify-content: space-between;
width: 30%;
}

.order-img img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.order-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.order-img p{
font-size: 10px;

}




.order{
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;

}

.order-price{
  display: flex;
    align-items: start;
    justify-content: space-between;
width: 30%;
margin-right: 60px;

}

.order-button{
display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
 

}
.order-button button{
    padding: 10px;
    border: none;
   
}

.order-button1{

border-radius: 5px 0px 0px 5px;

}
.order-button2{

border-radius: 0px 5px 5px 0px;

}

.status-button{

    border-radius: 20px;
    padding: 4px;
    border: none;
}