*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body{
  width: 100%;
  height: 100%;
  background-color: #007bff ;
color:white;
margin: 0;

}
.background{
  display: flex;
  flex-direction: row;
  
}

.section{
 width:  100%;
  
}




